html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #0c0b0d;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Bitter', serif; }

h1 {
  font-size: 2em !important; }

h2 {
  margin: 0; }

.brick.badge-heading {
  background-image: none; }

.bricks {
  margin: 0 0 0 10px;
  padding: 0; }
  .bricks .brick {
    display: inline-block;
    float: left;
    width: 30%;
    background-color: #212126;
    border-radius: 3px;
    margin: 3px;
    max-height: 560px;
    overflow: hidden;
    padding: 1em; }
    .bricks .brick ul, .bricks .brick li {
      margin: 0;
      padding: 0; }
    .bricks .brick .content ul li {
      margin: 0;
      padding: 0.5em 0;
      list-style: none;
      font-size: 25px;
      line-height: 1;
      -webkit-transition: font-size 0.5s; }
      .bricks .brick .content ul li ul li:nth-child(1) {
        -webkit-animation: fade-in 0.5s;
        font-size: 160%;
        color: #2c403c; }
    .bricks .brick .search-terms ul li {
      margin: 0;
      padding: 0.5em 0;
      list-style: none;
      font-size: 25px;
      line-height: 1;
      -webkit-transition: font-size 0.5s;
      color: #2c403c; }
      .bricks .brick .search-terms ul li:nth-child(1) {
        -webkit-animation: fade-in 0.5s;
        font-size: 160%;
        color: #2f7360; }
      .bricks .brick .search-terms ul li:nth-child(2) {
        color: #2a594c; }
      .bricks .brick .search-terms ul li:nth-child(3) {
        color: #2c403c; }
  .bricks .searches ul li {
    margin: 0;
    padding: 0.5em 0;
    list-style: none;
    font-size: 25px;
    line-height: 1;
    -webkit-transition: font-size 0.5s;
    color: #2c403c; }
    .bricks .searches ul li:nth-child(1) {
      -webkit-animation: fade-in 0.5s; }
    .bricks .searches ul li:nth-child(1) {
      color: #2f7360; }
    .bricks .searches ul li:nth-child(2) {
      color: #2a594c; }
    .bricks .searches ul li:nth-child(3) {
      color: #2c403c; }

.top-bar {
  background: #212126;
  padding: 10px 20px;
  margin: 10px 15px 2px 15px;
  border-radius: 3px;
  color: #000; }
  .top-bar .inner {
    position: relative;
    width: 105px;
    height: 42px;
    overflow: hidden; }
    .top-bar .inner img {
      position: absolute;
      border: none;
      width: 70%; }

.box {
  height: calc(100% - 210px);
  text-align: left; }

.small-box {
  overflow: hidden; }

.searches h1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin-top: 0;
  color: #999; }
.searches ul {
  margin: 0;
  padding: 0; }
  .searches ul li {
    margin: 0;
    padding: 5px 0;
    list-style: none;
    font-size: 25px;
    line-height: 1;
    -webkit-transition: font-size .5s; }
  .searches ul li:nth-child(1) {
    -webkit-animation: fade-in .5s; }
  .searches ul li:nth-child(1) {
    font-size: 160%; }
  .searches ul li {
    color: #2c403c; }
  .searches ul li:nth-child(1) {
    color: #2f7360; }
  .searches ul li:nth-child(2) {
    color: #2a594c; }
  .searches ul li:nth-child(3) {
    color: #2c403c; }

.traffic {
  color: black;
  color: #2f7360;
  text-align: center; }
  .traffic .text-feature {
    color: white;
    display: block;
    font-weight: bold; }
  .traffic h1 {
    margin: 0em 0 0;
    font-size: 100px; }
  .traffic p {
    margin: 0; }
  .traffic .count {
    float: left;
    width: 33.33%; }
    .tall .traffic .count {
      width: 50%; }
  .traffic .graph {
    float: left;
    width: 66.66%; }
    .tall .traffic .graph {
      width: 50%; }
  .traffic path, .traffic line.axis {
    stroke: black;
    stroke-width: 0.4;
    fill: none; }
  .traffic .label {
    fill: black;
    font-size: 16px; }

.content h1 {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  color: #999; }
.content ul {
  padding: 0;
  margin: 10px 0; }
.content li {
  font-size: 22px;
  margin: 0;
  padding-bottom: 10px;
  list-style: none;
  color: #2f7360; }
  .content li em {
    font-style: normal;
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    color: #6f777b; }
    .content li em span {
      font-size: 0.8em; }
      .content li em span.triangle {
        font-size: 0.6em; }
      .content li em span.triangle, .content li em span.percent {
        color: #006435; }
.content li:nth-child(1) {
  font-size: 160%; }

#search em {
  font-style: normal;
  display: block;
  font-size: 0.8em;
  font-weight: normal;
  color: #6f777b; }
  #search em span {
    font-size: 0.8em; }

@-webkit-keyframes fade-in {
  0% {
    margin-top: -35px;
    opacity: 0; }

  100% {
    margin-top: 0;
    opacity: 1; } }
