$background: #0C0B0D;
$secondary-background: #212126;
$tertiary: #2C403C;
$secondary: #2A594C;
$primary: #2F7360;
$main-font: #fff;

html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color:$background;
  padding:0;
  margin:0;
  color:$main-font;
  font-family: 'Bitter', serif;
}

h1{
  font-size:2em !important;
}

h2{
  margin:0;
}

.brick.badge-heading{
  background-image:none;
}

.bricks{
  margin:0 0 0 10px;
  padding:0;

  .brick{
    display:inline-block;
    float:left;
    width:30%;
    background-color:$secondary-background;
    border-radius:3px;
    margin:3px;
    max-height:560px;
    overflow:hidden;
    padding:1em;
    ul, li {
      margin:0;
      padding:0;
    }

    .content ul li {
      margin: 0;
      padding:0.5em 0;
      list-style: none;
      font-size: 25px;
      line-height: 1;
      -webkit-transition: font-size 0.5s;

      ul li {
        &:nth-child(1) {
          -webkit-animation: fade-in 0.5s;
          font-size: 160%;
          color:$tertiary;
        }
      }
    }

    .search-terms ul li {
      margin: 0;
      padding: 0.5em 0;
      list-style: none;
      font-size: 25px;
      line-height: 1;
      -webkit-transition: font-size 0.5s;
      color: $tertiary;

      &:nth-child(1) {
        -webkit-animation: fade-in 0.5s;
        font-size: 160%;
        color: $primary;
      }
      &:nth-child(2)    { color: $secondary; }
      &:nth-child(3)    { color: $tertiary; }
    }

  }

  .searches ul li {
    margin: 0;
    padding: 0.5em 0;
    list-style: none;
    font-size: 25px;
    line-height: 1;
    -webkit-transition: font-size 0.5s;
    color: $tertiary;

    &:nth-child(1) {
      -webkit-animation: fade-in 0.5s;
     }

    &:nth-child(1) {
      color: $primary;
    }
    &:nth-child(2) {
      color: $secondary;
    }
    &:nth-child(3) {
      color: $tertiary;
    }

  }
}

.top-bar {
  background: $secondary-background;
  padding: 10px 20px;
  margin: 10px 15px 2px 15px;
  border-radius: 3px;
  color:#000;

  .inner {
    position: relative;
    width: 105px;
    height: 42px;
    overflow: hidden;
    img {
      position: absolute;
      border: none;
      width: 70%;
    }
  }
}
.box {
  height: calc(100% - 210px);
  text-align: left;
}

.searches {
  h1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin-top: 0;
    color: #999;
  }
  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 5px 0;
      list-style: none;
      font-size: 25px;
      line-height: 1;
      -webkit-transition: font-size .5s;
    }
    li:nth-child(1){
      -webkit-animation: fade-in .5s;
    }
    li:nth-child(1){ font-size: 160%; }

      li {
        color: $tertiary;
      }
      li:nth-child(1){
        color: $primary;
      }
      li:nth-child(2){
        color: $secondary;
      }
      li:nth-child(3){
        color: $tertiary;
      }
  }
}

.traffic {
  color: black;
  color: $primary;
  text-align: center;

  .text-feature{
    color: $main-font;
    display:block;
    font-weight:bold;
  }
  h1 {
    margin: 0em 0 0;
    font-size: 100px;
  }
  p {
    margin: 0;
  }
  .count {
    float: left;
    width: 33.33%;

    .tall & {
      width: 50%;
    }
  }
  .graph {
    float: left;
    width: 60%;
    /*.tall & {
      width: 50%;
    }*/
  }
  path, line.axis {
    stroke: $main-font;
    stroke-width: 0.4;
    fill: none;
  }
  .label {
    fill: $secondary;
    font-size: 16px;
  }
}
.content {
  h1 {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #999;
  }
  ul {
    padding: 0;
    margin: 10px 0;
  }
  li {
    font-size: 22px;
    margin: 0;
    padding-bottom: 10px;
    list-style: none;
    color: $primary;
    em {
      font-style: normal;
      display: block;
      font-size: 0.8em;
      font-weight: normal;
      color: #6f777b;
      span {
        font-size: 0.8em;

        &.triangle {
          font-size: 0.6em;
        }
        &.triangle,
        &.percent {
          color: #006435;
        }
      }
    }
  }
  li:nth-child(1){ font-size: 160%; }
}
#search{
  em{
    font-style: normal;
    display: block;
      font-size: 0.8em;
      font-weight: normal;
      color: #6f777b;
      span {
        font-size: 0.8em;
        }
  }
}
@-webkit-keyframes fade-in {
  0%   { margin-top: -35px; opacity: 0;}
  100% { margin-top: 0; opacity: 1;}
}
