// Neat Variables
$max-width: none;
$gutter: 3em;
@import 'bourbon/bourbon';
@import 'neat/neat';

$background: #4B9990;
$secondary-background: #00010D;
$tertiary: #60BFB6;
$secondary: #78BFBF;
$primary: #cccccc;
$main-font: #F2F2F2;
$animation-time: 0.5s;

/*
dark green: #4B9990;
light green: #A1CCC7;
very light green: #E3FFEC;
light pink: #FFA3CB;
hot pink: #FF1BF0;
*/

/*
dark black: 00010D
super pale blue: F2F2F2
ice blue: B4D9D9
mid teal: 78BFBF
teal: 60BFB6
*/

$desktop-color: #265c8d;
$mobile-color: #B96425;

html {
  @include box-sizing(border-box);
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #111;
  padding:0;
  margin:0;
  color:$main-font;
  font-family: 'Source Sans Pro', serif;
}

h1{
  font-size:2em !important;
}

.top-bar {
  padding: 1em 40px;
  border-bottom: 1px solid #222;
}

.colophon {
  font-size: 14px;
}

.traffic-stats {
  @include outer-container();
  border-bottom: 1px solid #222;
  padding: 1.5em 40px;
}

.stat-header, .brick-heading {
  font-size: 24px;
  text-align: left;
  margin:0;
  margin-bottom: 1em;
  color: #eee;
}

.count {
  @include span-columns(4);
}


.traffic {
  @include span-columns(8);
}

.brick.badge-heading{
  background-image:none;
}

.bricks {
  @include outer-container();
  padding: 1.5em 40px;
  margin-top: 0;

  .brick {
    @include span-columns(4);
    border-radius: 3px;
    overflow: hidden;

    ul {
      margin: 0;
      padding: 0;
    

      /* promote to a GPU layer */
      transform: translateZ(0);
      -webkit-transform: translateZ(0);

      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    li {
      margin: .5em 0;
      padding: 0;
      overflow: auto;
      line-height: 1.2em;
      padding: .25em 0;
      font-size: 20px;
      position: relative;
    }

    .content ul li {
      a{
        color:inherit;
        text-decoration:none;
      }
    }

    .search-terms ul li {
      color: $primary;
      opacity: 0.5;

      &:nth-child(1) { opacity: 1.0; }
      &:nth-child(2) { opacity: 0.7; }

      a{
        color:inherit;
        text-decoration:none;
      }
    }

  }
  .device-type {
    width: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    display: block;
    position: absolute;
    &.mobile, &.tablet {
      background: $mobile-color;
    }
    &.desktop {
      background: $desktop-color;
    }
  }
  .link {
    padding-left: 1em ;
    i {
      color: #717171;
      font-size: 0.75em;
    }
  }

  .searches ul li {

    /* promote to a GPU layer */
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transition: opacity $animation-time;
    -webkit-transition: opacity $animation-time;

    color: $primary;
    opacity: 0.5;

    &:nth-child(1) { opacity: 1.0; }
    &:nth-child(2) { opacity: 0.7; }
  }

  .popular {
    li {
      em {
        margin-top: 5px;
        .visitor-types {
          float: left;
          color: #fff;
          padding: 0.3em .8em;
          margin: 0 1em 0 0;
          i {
            display: inline-block;
            margin-left: .5em;
          }
          &.mobile {
            border-left: 5px solid $mobile-color;
            color: $mobile-color;
          }
          &.desktop{
            border-left: 5px solid $desktop-color;
            color: $desktop-color;
          }
        }
        .device-type {
          width: 5px;
          height: 1em;
          float: left;
          margin: 0 0.4em 0 0;
        }
      }
    }
  }
}

.top-bar {
  color:#000;
  clear:both; 
  overflow:hidden;

  p{
    color: #666;
    margin: .6em 0;
    a {
      color: #888;
    }
  }
  .inner {
    position: relative;
    width: 105px;
    height: 35px;
    overflow: hidden;
    float:left;
    img {
      position: absolute;
      border: none;
      width: 70%;
    }
  }
}
.box {
  position: relative;
  height: calc(100% - 210px);
  text-align: left;
}

.searches ul li {
  /* promote to a GPU layer */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);

  transition: opacity $animation-time;
  -webkit-transition: opacity $animation-time;
  color: $primary;
  opacity: 0.5;

  a{
    color:inherit;
    text-decoration:none;
  }

  em {
    color:#3E4345;
    font-style: normal;
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    span {
      font-size: 0.8em;
    }
  }

  &:nth-child(1){ opacity: 1.0; }
  &:nth-child(2){ opacity: 0.7; }
}

.traffic {
  color: black;
  color: $primary;
  text-align: center;
}

.text-feature{
  font-weight:bold;
}
h1 {
  margin: 0em 0 0;
  font-size: 100px;
}
p {
  margin: 0;
}
.count {
  .tall & {
    width: 50%;
  }
}

#traffic-count-graph {
  height: 200px;
}
#graph-text {
  text-align: left;
}
.graph {
  width: 100%;
}
path, line.axis {
  stroke: $main-font;
  stroke-width: 0.4;
  fill: none;
}
.label {
  fill: $secondary;
  font-size: 16px;
}
#traffic {
  float: left;
  .visitor-count {
    padding: .5em;
    margin: 0;
    font-size: 2em;
    font-weight: 300;
    position: relative;

    i {
      width: 1em;
      font-size: 28px;
      display: inline-block;
      position: absolute;
      text-align: center;
      top: 50%;
      margin-top: -.5em;
      right: .5em;
      margin-right: .3em;
    }
    &#mobile-count{
      border-left: 5px solid $mobile-color;
      background-color: fade_out($mobile-color, .8);
      color: #fff;
    }
    &#desktop-count{
      border-left: 5px solid $desktop-color;
      background-color: fade_out($desktop-color, .8);
      color: #fff;
      margin-bottom: 5px;
    }
  }
}

.sparkline path{
  stroke:white;
  stroke-width:2;
}

.content {
  h1 {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #999;
  }
  ul {
    padding: 0;
    margin: 10px 0;
  }
  li {
    color: $primary;
    em {
      font-style: normal;
      display: block;
      font-size: 0.8em;
      font-weight: normal;
      color: #6f777b;
      span {
        font-size: 0.8em;

        &.triangle {
          font-size: 0.6em;
        }
        &.triangle,
        &.percent {
          color: #006435;
        }
      }
    }
  }
  li:nth-child(1){
    font-weight: bold;
  }
}

svg {
  path {
    stroke: #666;
  }
}
