html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: nta, helvetica;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.top-bar {
  background: #0b0c0c;
  padding: 10px 20px;

  .inner {
    position: relative;
    width: 166px;
    height: 30px;
    overflow: hidden;
    img {
      position: absolute;
      left: -166px;
      top: 0;
      border: none;
      width: 200%;
      height: 300%;
    }
  }
}
.box {
  height: calc(100% - 350px);
  width: 33.33%;
  float: left;
  overflow: hidden;

  .tall & {
    width: 50%;
    height: 33.33%;

    &.recent {
      width: 100%;
      height: 40%;
    }
  }

}
.box-inner {
  padding: 20px;
}
.small-box {
  overflow: hidden;
  width: 100%;
  height: 160px;
}
.searches {
  h1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin-top: 0;
    color: #999;
  }
  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 5px 0;
      list-style: none;
      font-size: 25px;
      line-height: 1;
      -webkit-transition: font-size .5s;
    }
    li:nth-child(1){
      -webkit-animation: fade-in .5s;
    }
    li:nth-child(1){ font-size: 160%; }
    .not {
      li {
        color: #2b8cc4;
      }
      li:nth-child(1){
        color: #df3133;
      }
      li:nth-child(2){
        color: #cc4c4a;
      }
      li:nth-child(3){
        color: #b75f61;
      }
      li:nth-child(4){
        color: #a06e77;
      }
      li:nth-child(5){
        color: #867990;
      }
      li:nth-child(6){
        color: #6683a9;
      }
    }
  }
}
.traffic {
  background: #2b8cc4;
  color: #fff;
  text-align: left;

  h1 {
    margin: 0em 0 0;
    font-size: 100px;
  }
  p {
    margin: 0;
  }
  .count {
    float: left;
    width: 33.33%;

    .tall & {
      width: 50%;
    }
  }
  .graph {
    float: left;
    width: 66.66%;
    position: relative;

    .tall & {
      width: 50%;
    }
    p {
      position: absolute;
      right: 20px;
      bottom: 25px;
      font-weight: normal;
      font-size: 16px;
    }
  }
  svg {
    display: block;
    margin: 0;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
  }
  path {
    stroke: #fff;
    stroke-width: 2;
    fill: none;
  }
}
.content {
  h1 {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #999;
  }
  ul {
    padding: 0;
    margin: 10px 0;
  }
  li {
    font-size: 22px;
    margin: 0;
    padding-bottom: 10px;
    list-style: none;
    em {
      font-style: normal;
      display: block;
      font-size: 0.8em;
      font-weight: normal;
      color: #6f777b;
    }
  }
  li:nth-child(1){ font-size: 160%; }
}
.tweets {
  float: left;
  height: 130px;
  width: 100%;
  font-weight: 500;

  h1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin-top: 0;
    color: #999;
  }
  ul {
    width: 2000%;
    margin: 0;
    padding: 0;
  }

  .tweet {
    width: 350px;
    float: left;
    display: block;
    font-size: 14px;

    img {
      float: left;
      margin-right: 10px;
    }
    p {
      margin: 0;
      padding: 0;
    }
    .user {
      color: #999;

      strong {
        color: #000;
      }
    }
  }
}
@-webkit-keyframes fade-in {
  0%   { margin-top: -35px; opacity: 0;}
  100% { margin-top: 0; opacity: 1;}
}
