$background: #4B9990;
$secondary-background: #00010D;
$tertiary: #60BFB6;
$secondary: #78BFBF;
$primary: #B4D9D9;
$main-font: #F2F2F2;
$animation-time: 0.5s;
  
/*
dark green: #4B9990;
light green: #A1CCC7;
very light green: #E3FFEC;
light pink: #FFA3CB;
hot pink: #FF1BF0;
*/

/*
dark black: 00010D
super pale blue: F2F2F2
ice blue: B4D9D9
mid teal: 78BFBF
teal: 60BFB6
*/


html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color:$background;
  padding:0;
  margin:0;
  color:$main-font;
  font-family: 'Bitter', serif;
}

h1{
  font-size:2em !important;
}

h2{
  margin:0;
}

.brick.badge-heading{
  background-image:none;
}

.bricks{
  margin:0;
  padding:0;
  display:flex;
  display:-webkit-flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  flex-grow:1;
  -webkit-flex-grow:1;
  justify-content: space-between;
  -webkit-justify-content: space-between;

  .brick {
    order: auto;
    width: 32%;
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    align-self: auto;
    -webkit-align-self: auto;
    min-height: 100%;
    background-color: $secondary-background;
    border-radius: 3px;
    border: 1px solid $background;
    overflow: hidden;
    padding: 1em;

    ul, li {
      margin: 0;
      padding: 0;

      /* promote to a GPU layer */
      transform: translateZ(0);
      -webkit-transform: translateZ(0);

      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .content ul li {
      margin: 0;
      padding: 0.5em 0;
      list-style: none;
      line-height: 1;
      a{
        color:inherit;
        text-decoration:none;
      }
    }

    .search-terms ul li {
      margin: 0;
      padding: 0.5em 0;
      list-style: none;
      font-size: 25px;
      line-height: 1;

      color: $primary;
      opacity: 0.5;

      &:nth-child(1) { opacity: 1.0; }
      &:nth-child(2) { opacity: 0.7; }

      a{
        color:inherit;
        text-decoration:none;
      }
    }

  }

  .searches ul li {
    margin: 0;
    padding: 0.5em 0;
    list-style: none;
    font-size: 25px;
    line-height: 1;

    /* promote to a GPU layer */
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transition: opacity $animation-time;
    -webkit-transition: opacity $animation-time;

    color: $primary;
    opacity: 0.5;

    &:nth-child(1) { opacity: 1.0; }
    &:nth-child(2) { opacity: 0.7; }
  }
}

.top-bar {
  background: $secondary-background;
  padding: 10px 20px;
  border:1px solid $background;
  border-radius: 3px;
  color:#000;
  clear:both; 
  overflow:hidden;
  p{
    color:$primary;
    font-size:0.6em;
    a{
      color:$primary;
    }
  }
  .inner {
    position: relative;
    width: 105px;
    height: 42px;
    overflow: hidden;
    float:left;
    img {
      position: absolute;
      border: none;
      width: 70%;
    }
  }
}
.box {
  position: relative;
  height: calc(100% - 210px);
  text-align: left;
}

.searches ul li {
  margin: 0;
  padding: 5px 0;
  list-style: none;
  font-size: 25px;
  line-height: 1;
  /* promote to a GPU layer */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);

  transition: opacity $animation-time;
  -webkit-transition: opacity $animation-time;
  color: $primary;
  opacity: 0.5;

  a{
    color:inherit;
    text-decoration:none;
  }

  em {
    color:#3E4345;
    font-style: normal;
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    span {
      font-size: 0.8em;
    }
  }

  &:nth-child(1){ opacity: 1.0; }
  &:nth-child(2){ opacity: 0.7; }
}

.traffic {
  color: black;
  color: $primary;
  text-align: center;

  .text-feature{
    color: $main-font;
    display:block;
    font-weight:bold;
    font-size:300%;
  }
  h1 {
    margin: 0em 0 0;
    font-size: 100px;
  }
  p {
    margin: 0;
  }
  .count {
    float: left;
    width: 20%;

    .tall & {
      width: 50%;
    }
  }
  #traffic-count-graph {
    height: 200px;
  }
  #graph-text {
    text-align: right;
    position: relative;
    top: -30px;
  }
  .graph {
    float: left;
    width: 80%;
    /*.tall & {
      width: 50%;
    }*/
  }
  path, line.axis {
    stroke: $main-font;
    stroke-width: 0.4;
    fill: none;
  }
  .label {
    fill: $secondary;
    font-size: 16px;
  }
}
.sparkline path{
  stroke:white;
  stroke-width:2;
}

.content {
  h1 {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #999;
  }
  ul {
    padding: 0;
    margin: 10px 0;
  }
  li {
    font-size: 22px;
    margin: 0;
    padding-bottom: 10px;
    list-style: none;
    color: $primary;
    em {
      font-style: normal;
      display: block;
      font-size: 0.8em;
      font-weight: normal;
      color: #6f777b;
      span {
        font-size: 0.8em;

        &.triangle {
          font-size: 0.6em;
        }
        &.triangle,
        &.percent {
          color: #006435;
        }
      }
    }
  }
  li:nth-child(1){ font-size: 160%; }
}
